body {
    font-family: Roboto;
    background-color: #fafafa;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

div.card {
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 600px;
}

.logo-container {
    background-color: #e9ecef;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

#logo-img {
    width: 400px;
}

#instagram-input-element {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.card-body {
    padding: 10px;
}

span {
    font-size: 20px;
}

h1 {
    font-family: Lato;
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    font-family: inherit;
}

input {
    font-family: inherit;
}